/* content block */
#page-content{overflow:hidden;text-align:left;padding-top:0px; } 
#region-main-wrap{float:right;width:100%;}
#region-main{padding:0}
.boxaligncenter{margin:0 auto 10px}
.error,.errorMessage{color:#DF0B0A;font-size:13px}
.paging{text-align:left;font-size:13px;margin-bottom:10px}
.notifysuccess{font-size:13px;border:1px solid #4F8A10;color:#4F8A10;background-color:#DFF2BF;margin-bottom:5px;padding:5px}
.notifyproblem{font-size:13px; border:1px solid #DF0B0A;color:#DF0B0A;background-color:#FFBABA;margin-bottom:5px;padding:5px}
.helplink img{width:auto;height:auto;margin-left:5px}
img.iconhelp{margin:0 5px 0 0}
img.icon,img.iconhelp{vertical-align:middle}
img.iconsmall{width:auto;height:auto}
img.icon{width:auto;height:auto;}
hr{background-color:#fff;color:#ccc;height:1px;line-height:0;page-break-after:always;border-width:0;margin:5px 0}
.groupmanagementtable{width:90%}
.groupmanagementtable td{vertical-align:top;border-width:0}
.groupmanagementtable td p{margin:0}
.content-only #page-content #region-main-wrap{width:auto;float:none;margin-right:0}
#region-main-box,#region-post-box{overflow:hidden}
.region-content #intro.box{font-size:13px;margin-bottom:10px;line-height:1.5}
#region-main-box, #region-post-box
{
	padding-top:0px;
}


.modified
{
	display:none;
}

